{% macro render_received_offer(offer) %}
{% set offer_status =  offer.status%}
    <div class="user-received well" data-offer-id="{{ offer.id }}">
        <span class="offer-description"> {{ offer.description }}</span>
            {% if offer_status == "accepted" %}
                <button type="button" class="btn btn-mini btn-success btn-default accept-offer disabled">Accepted</button>
            {% elif offer_status == "declined" %}
                <button type="button" class="btn btn-mini btn-danger btn-default decline-offer disabled">Declined</button>
            {% else %}
                <button type="button" class="btn btn-mini btn-danger btn-default decline-offer">Decline</button>
                <button type="button" class="btn btn-mini btn-success btn-default accept-offer">Accept</button>
            {% endif %}
    </div>
{% endmacro %}

{% macro render_requested_offer(offer) %}
    {% set offer_status =  offer.status%}
    {% set offer_color = "success" if offer_status == "accepted" else "important" if offer_status == "declined" else "warning" %}
    <div class="user-requested well">
        <span class="label label-{{ offer_color }} class-badge"> {{ offer_status }} </span>
        <span class="class-description"> {{ offer.description }}</span>
    </div>
{% endmacro %}
