<!doctype html>
<html lang="en">
    <head>
      <meta charset="utf-8">
      <title> {% block title %} {% endblock %} </title>
      <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-responsive.min.css') }}">
      <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
      <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
      <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
      <style> {% block css %} {% endblock %} </style>
    </head>
    <body>
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner flat-nav">
                <a class="brand" href="#">GauchoSwap</a>
                <ul class="nav">
                    <li class="divider-vertical"></li>
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#">Lectures</a></li>
                    <li><a href="#">Labs</a></li>
                    <li><a href="#">Sections</a></li>
                    <li><a href="#">Free For All</a></li>
                </ul>
                {% if session.get('fb_id') %}
                <ul class="nav pull-right">
                    <li class="divider-vertical"></li>
                    <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ g.user.name }}<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Offers</a></li>
                            <li><a href="{{ url_for('swapblock.get') }}">SwapBlock</a></li>
                            <li><a href="#">Profile</a></li>
                            <li><a href="#">SwapBlock</a></li>
                            <li><a href="{{ url_for('user.show_user_profile') }}">Profile</a></li>
                            <li class="divider"></li>
                            <li><a href="{{ url_for('account.logout') }}">Log Out</a></li>
                        </ul>
                    </li>
                </ul>
                {% endif %}
            </div>
        </div>
        {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
                {% for category, message in messages %}
                  <div class="flash alert alert-{{ category }}">
                      <button type="button" class="close" data-dismiss="alert">x</button>
                      <p>{{ message }}</p>
                  </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        {% block body %}{% endblock %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
        <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
        <script type=text/javascript>$SCRIPT_ROOT = {{ request.script_root|tojson|safe }}; </script>
        <script type=text/javascript> {% block js %} {% endblock %} </script>
    </body>
</html>
