{% extends "base.html" %}

{% block title %}Welcome{% endblock %}
{% block body %}
  <div class="row-fluid">
      <div class="span12">
          {% if session.get('fb_id') is none %}
              <div class="title">
                  <h1>Welcome to GauchoSwap!</h1>
                  <div class="connect">
                      <a href="{{ url_for('account.fb_auth') }}">
                          <img src="{{ url_for('static', filename='X-Large_278x44_glowy.png') }}"></img>
                      </a>
                  </div>
              </div>
          {% else %}
              <h2 class="greeting"> Offer Stream </h2>
              <div class="row-fluid">
                  <div class="span2"> 
                      <section class="user-info">
                          <img src="{{g.user.fb_picture_link}}"></img>
                      </section>
                  </div>
                  <div class="span10">
                      <section class="offer-stream">
                          {% for offer in offers %}
                              <span class="offer"> {{ offer.describe()|safe }} </span>
                          {% endfor %}
                      </section>
                  </div>
              </div>
          {% endif %}
      </div>
  </div>
  {% block script %}
  {% endblock %}
{% endblock %}
