{% extends "base.html" %}

{% block title %}Welcome{% endblock %}
{% block body %}
<link rel=stylesheet type=text/css href="{{ url_for('static',
  filename='style.css') }}">
  <div class="row-fluid">
      <div class="span12">
          <div class="title">
                  <h1>GauchoSwap</h1>
                  <div class="connect">
                      <a href="">
                          <img src="{{ url_for('static', filename='X-Large_278x44_glowy.png') }}"></img>
                      </a>
                  </div>
          </div>
      </div>
  </div>
{% endblock %}
