{% extends "base.html" %}
{% block title %}Profile{% endblock %}
{% block body %}
{% set own_profile = (g.user.id == student.id) %}
{% from "macros/_render_swapblock_class.html" import render_swapblock_class, render_swapblock_class_info with context %}
<div class="row-fluid" style="margin-top:50px">
    <div class="span12">
        <section class="profile-container">
            {% if own_profile %}
                <h2 data-student-id="{{student.id}}" class="profile-title"> Your SwapBlock
                <a href="{{g.user.fb_profile_link}}"><img src="{{g.user.fb_picture_link}}"/></a>
            </h2>
            {% else %}
                <h2 class="profile-title"> 
                <a href="{{student.fb_profile_link}}"> {{ student.name }}'s</a> Swapblock
                <a href="{{student.fb_profile_link}}"><img src="{{student.fb_picture_link}}"/></a>
                </h2>
            {% endif %}
            <ul class="nav nav-tabs have-want-toggle">
                <li class="active swapblock-tab"><a href="#owned" data-toggle="tab">Owned</a></li>
                <li class="swapblock-tab"><a href="#wanted" data-toggle="tab">Wanted</a></li>
            </ul>
            <div class="tab-content swapblock-body">
                  <div class="tab-pane active" id="owned">
			      {% if own_profile %}
                              <a href="#myModal" role="button" class="btn modal-button btn-block" data-toggle="modal">Add A Class</a>
			      {% endif %}
                  {% if owned_classes %}
                      {% for class in owned_classes %}
                          {{ render_swapblock_class(class, own_profile) }}
                      {% endfor %}
                  {% else %}
                      {% if own_profile %}
                          <p> Looks like you haven't added any classes you have! Why don't you: <p>
                          <a href="#myModal" role="button" class="btn modal-button btn-block" data-toggle="modal">Add A Class</a>
                      {% else %}
                          <p> Looks like {{student.name}} hasn't added any owned classes yet. Check back soon!
                      {% endif %}
                  {% endif %}
                  </div>
                  <div class="tab-pane" id="wanted">
			      {% if own_profile %}
                      <a href="#myModal" role="button" class="btn modal-button btn-block" data-toggle="modal">Add A Class</a>
			      {% endif %}

                  {% if wanted_classes %}
                      {% for class in wanted_classes %}
                          {{ render_swapblock_class(class, own_profile) }}
                      {% endfor %}
                  {% else %}
                      {% if own_profile %}
                          <p> Looks like haven't added any classes you want! Why don't you: <p>
                          <a href="#myModal" role="button" class="btn modal-button btn-block" data-toggle="modal">Add A Class</a>
                      {% else %}
                          <p> Looks like {{student.name}} hasn't added any wanted classes yet. Check back soon!
                      {% endif %}
                  {% endif %}
                  </div>
            </div>
        </section>
    </div>
    <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel" class="choose-class-title">Select a Class</h3>
        </div>
        <div id="myModalBody" class="modal-body">
            <form class="form-horizontal">
                  <div class="control-group">
                      <label class="control-label" for="inputClassType">Class Type:</label>
                      <div class="controls">
                        <div id="class-type-toggle-buttons inputClassType" class="btn-group" data-toggle="buttons-radio">
                            <button type="button" class="btn btn-primary class_button" value="lecture">Lecture</button>
                            <button type="button" class="btn btn-primary class_button" value="lab">Lab</button>
                            <button type="button" class="btn btn-primary class_button" id="invisible_button" style="display: none">Invisible</button>
                            <button type="button" class="btn btn-primary class_button" value="section">Section</button>
                        </div>
                      </div>
                  </div>
                  <div class="control-group">
                      <label class="control-label" for="inputDepartment">Department:</label>
                      <div class="controls">
                          <select id="inputDepartment" class="department-list">
                                <option value="None"></option>
                                {% for abrv, department in departments %} 
                                    <option value="{{ department }}">{{ abrv }}: {{ department }}</option>
                                {% endfor %}
                          </select>     
                      </div>
                  </div>
                  <div style="display:none;" id="classes" class="control-group">
                      <label class="control-label" for="inputClass"></label>
                      <div class="controls">
                          <select id="inputClass" class="class-list disabled">
                                <option value="None"></option>
                          </select>     
                      </div>
                  </div>
                  <div style="display:none;" id="times" class="control-group">
                      <label class="control-label" for="inputTimes">Days:</label>
                      <div class="controls">
                          <select id="inputTimes">
                                <option value="None"></option>
                          </select>     
                      </div>
                  </div>
            </form>
            
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
            <button class="btn btn-primary disabled add-course">Add Course!</button>
        </div>
    </div>
    <div id="deleteModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel" class="choose-class-title">Choose Class(es) to Delete</h3>
        </div>
        <div id="myModalBody" class="modal-body">
                      {% if owned_classes %}
                          {% for class in owned_classes %}
                              {{ render_swapblock_class(class) }}
                          {% endfor %}
                      {% else %}
                          <p> Looks like you don't have any classes to delete! Why don't you: <p>
                          <a href="#myModal" role="button" class="btn modal-button" data-toggle="modal">Add A Class</a>
                      {% endif %}
	</div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
    <script src="{{ url_for('static', filename='swap_block.js') }}"></script>
{% endblock %}
