{% extends "base.html" %}
{% block title %}Profile{% endblock %}
{% block body %}
{% set own_profile = (g.user.id == student.id) %}
<div class="row-fluid" style="margin-top:50px">
    <div class="span12">
        <section class="profile-container">
            {% if own_profile %}
                <h2 class="profile-title"> Your SwapBlock </h2>
            {% else %}
                <h2 class="profile-title"> {{ student.name }}'s SwapBlock </h2>
            {% endif %}
            <ul class="nav nav-tabs have-want-toggle">
                <li class="active swapblock-tab"><a href="#owned" data-toggle="tab">Owned</a></li>
                <li class="swapblock-tab"><a href="#wanted" data-toggle="tab">Wanted</a></li>
            </ul>
            <div class="tab-content swapblock-body">
                  <div class="tab-pane active" id="owned">
                      {% if owned_classes %}
                          {% for class in owned_classes %}
                              <p> {{ class.name }} </p>
                          {% endfor %}
                      {% else %}
                          {% if own_profile %}
                              <p> Looks like you haven't added any classes you have! Why don't you: <p>
                              <a href="#myModal" role="button" class="btn" data-toggle="modal">Add A Class</a>
                          {% else %}
                              <p> Looks like {{student.name}} hasn't added any owned classes yet. Check back soon!
                          {% endif %}
                      {% endif %}
                  </div>
                  <div class="tab-pane" id="wanted">
                      {% if wanted_classes %}
                          {% for class in wanted_classes %}
                              <p> {{ class.name }} </p>
                          {% endfor %}
                      {% else %}
                          {% if own_profile %}
                              <p> Looks like haven't added any classes you want! Why don't you: <p>
                              <a href="#myModal" role="button" class="btn" data-toggle="modal">Add A Class</a>
                          {% else %}
                              <p> Looks like {{student.name}} hasn't added any wanted classes yet. Check back soon!
                          {% endif %}
                      {% endif %}
                  </div>
            </div>
        </section>
    </div>
    <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel" class="choose-class-title">Choose Classes</h3>
        </div>
        <div id="myModalBody" class="modal-body">
            <div id="class-type-toggle-buttons" class="btn-group" data-toggle="buttons-radio">
                <button type="button" class="btn btn-primary class_button">Lecture</button>
                <button type="button" class="btn btn-primary class_button">Lab</button>
                <button type="button" class="btn btn-primary class_button">Section</button>
            </div>
            
            <select id="department-list">
                {% for abrv, department in departments %} 
                    <option value="{{ department }}">{{ abrv }}: {{ department }}</option>
                {% endfor %}
            </select>     
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
            <button class="btn btn-primary">Save changes</button>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
    <script src="{{ url_for('static', filename='swap_block.js') }}"></script>
{% endblock %}
