{% extends "base.html" %}

{% block title %}SwapBlock{% endblock %}
{% block body %}
    <div class="row-fluid">
        <div class="span12">
            <div class="title">
                <h1> {{ g.user.name }}'s SwapBlock </h1>
	        </div>  
            <div id="classButton">
            <a href="#myModal" role="button" class="btn" data-toggle="modal">Add Class</a>
            </div>
                <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h3 id="myModalLabel">Choose Classes</h3>
                    </div>
                    <div id="myModalBody" class="modal-body">
                    
                        <div class="classSelect">
                            <div id="selectClassButtons" class="btn-group" data-toggle="buttons-radio">
                                <button type="button" class="btn btn-primary">Lecture</button>
                                <button type="button" class="btn btn-primary">Lab</button>
                                <button type="button" class="btn btn-primary">Section</button>
                            </div>
                        
                            <div id="departmentSelect" class="bfh-selectbox">
                                <input type="hidden" name="selectbox3" value="">
                                <a class="bfh-selectbox-toggle" role="button" data-toggle="bfh-selectbox" href="#">
                                    <span class="bfh-selectbox-option input-medium" data-option="12">-- Select --</span>
                                    <b class="caret"></b>
                                </a>
                                <div class="bfh-selectbox-options">
                                    <input type="text" class="bfh-selectbox-filter">
                                    <ul role="options">
                                        {% for abrv, department in departments %} 
                                            <li><a class="choose" tabindex="-1" href="#" data-option="1" onclick="asdf();">{{ abrv }}: {{ department }}</a></li>
                                        {% endfor %}
                                    </ul>
                                
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                        <button class="btn btn-primary">Save changes</button>
                    </div>
                </div>

        </div>
        
    </div>



{% endblock %}

{% block js %}
 

function asdf() {
    alert("ASDF");
}



{% endblock %}








