{% extends "base.html" %}

{% block title %}SwapBlock{% endblock %}
{% block body %}
    <div class="row-fluid">
        <div class="span12">
            <div class="title">
		
                <h1> {{ username }}'s SwapBlock </h1>
		
	    </div>
        <form action="{{ url_for('swapblock.selectClass') }}" method=post class="add-entry custom">
        <label class="custom-select">
            
            <select name="departmentList" onchange="getDepartment()">

               	    {% for department in departments %} 
                        <option value={{ department }}>{{ department }}</option>
                    {% endfor %}    
            </select>
            
        </label>
                 <input class="success button" type=submit value=Select it!>
        </form>
        </div>
    </div>
{% endblock %}

<script type=text/javascript> {% block js %} 
{% endblock %} </script>






