{% extends "base.html" %}

{% block title %}Welcome{% endblock %}
{% block body %}
  <div class="row-fluid">
      <div class="span12">
          <div class="title">
                  <h1>YO</h1>
                  {% if session.get('fb_id') is none %}
                  <div class="connect">
                      <a href="{{ url_for('account.fb_auth') }}">
                          <img src="{{ url_for('static', filename='X-Large_278x44_glowy.png') }}"></img>
                      </a>
                  </div>
                  {% else %}
                  <h3 class="greeting">Hey {{ g.user.name }}, this is your Profile </h3>
                  {% endif %}

          </div>
      </div>
  </div>
{% endblock %}
