{% extends "base.html" %}
{% block title %}Profile{% endblock %}
{% block body %}
<div class="row-fluid" style="margin-top:50px">
  <div class="span2">
    <ul class="unstyled" style="margin-left:50px; margin-top:45px">
      <li style="margin-bottom:50px"><h1>{{ g.user.name }}</h1></li>
      <li style="margin-bottom:50px"><img src="{{g.user.fb_picture_link }}" height="75%" width="75%"><--Picture</li>
      <li style="margin-bottom:50px"><a href="{{ g.user.fb_profile_link }}">Facebook Profile</a></li>
    </ul>
  </div>
  <div class="span10">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#SwapBlock" data-toggle="tab">SwapBlock</a></li>
      <li><a href="#Offer" data-toggle="tab">Offer</a></li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="SwapBlock"></div>
      <div class="tab-pane" id="Offer"></div>
    </div>
  </div>
</div>
{% endblock %}
