body {
    font-family: 'Open Sans Condensed', sans-serif;
}

.flat-nav {
    padding-left: 9px !important;
    background: white !important;
}

.flash {
    margin: 0 auto;
    text-align: center;
    width: 50%;
    font-size: 21px;
    position: absolute;
    left: 23%;
    top: 20%;
}

.title {
    margin: 0 auto;
    text-align: center;
    width: 50%;
    padding-top: 20%;
}

.title h1 {
    font-size: 69px;
    font-family: 'Open Sans Condensed', sans-serif;
}

.connect {
    margin-top: 6%;
}

.greeting {
    padding-top: 4%;
    margin: 0 auto;
    text-align: center;
    width: 50%;
}

#swapblocktitle {
    font-size: 40px;
    font-family: 'Open Sans Condensed', sans-serif;
    position: relative;
    left: 100px;
    top: 100px;
}

/*select button*/
form .add-entry_custom {
    position: relative;
    left: 150px;
    top: 130px;
    background-color: blue;
}

input .success_button {
    position: relative;
    left: 150px;
    top: 130px;
    background-color: red;
}

/*dropdown menu*/
label.custom-select {
    position: relative;
    left: 100px;
    top: 130px;
    display: inline-block;

}

    .custom-select select {
        display: inline-block;
        padding: 4px 3px 3px 5px;
        margin: 0;
        font: inherit;
        outline:none; /* remove focus ring from Webkit */
        line-height: 1.2;
        background: #999;
        color:black;
        border:0;
    }




    /* Select arrow styling */
    .custom-select:after {
        content: "▼";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        font-size: 60%;
        line-height: 30px;
        padding: 0 7px;
        background: #000;
        color: blue;
    }
    
    .no-pointer-events .custom-select:after {
        content: none;
    }


