body {
    font-family: 'Open Sans Condensed', sans-serif;
}

.flat-nav {
    padding-left: 9px !important;
    background: white !important;
}

.flash {
    margin: 0 auto;
    text-align: center;
    width: 50%;
    font-size: 21px;
    position: absolute;
    left: 23%;
    top: 20%;
}

.title {
    margin: 0 auto;
    text-align: center;
    width: 50%;
    padding-top: 20%;
}

.title h1 {
    font-size: 69px;
    font-family: 'Open Sans Condensed', sans-serif;
}

.connect {
    margin-top: 6%;
}

.greeting {
    padding-top: 20px;
}
