body {
    font-family: 'Open Sans Condensed', sans-serif;
}

.flat-nav {
    padding-left: 9px !important;
    background: white !important;
}

.flash {
    margin: 0 auto;
    text-align: center;
    width: 50%;
    font-size: 21px;
    position: absolute;
    left: 23%;
    top: 20%;
}

.title {
    margin: 0 auto;
    text-align: center;
    width: 50%;
    padding-top: 20%;
}

.title h1 {
    font-size: 69px;
    font-family: 'Open Sans Condensed', sans-serif;
}

.connect {
    margin-top: 6%;
}

.greeting {
    padding-top: 4%;
    margin: 0 auto;
    text-align: center;
    width: 13%;
    border-bottom: 1px solid black;
}

#swapblocktitle {
    font-size: 40px;
    font-family: 'Open Sans Condensed', sans-serif;
    position: relative;
    left: 100px;
    top: 100px;
}

.offer-stream {
    padding-top: 2%;
    padding-bottom: 4%;
    margin-left: 13%;
    width: 50%;
    text-align: center;
}


.offer {
    display: block;
    border-bottom: 1px solid #dad7e0;
    padding-top: 4%;
    padding-bottom: 4%;
    font-size: 1.1em;
}

.user-info {
    margin-left: 72%;
    margin-top: 0%;
}

.user-info span {
    text-align: center;
    display: block;
    padding: 7px;
}

.user_pic {
    padding: 7px;
    border: 1px solid;
}

#myModalBody {
    height: 10%;
	
}

.choose-class-title {
    text-align: center !important;
}

#department-list{
    margin-left: 28.4%;
    margin-top: 7%;
}

#class-list{
    margin-left: 28.4%;
    margin-top: 10%;
}

#class-type-toggle-buttons {
    padding: 9px;
    margin-top: 5%;
    margin-left: 29%;
}

.profile-container {
    margin: 0 auto;
    width: 50%;
}

.profile-title {
    text-align: center;
}

.swapblock-tab {
    width: 50%;
    text-align: center;
}

.have-want-toggle {
    margin-top: 5%;
}

.swapblock-body {
    margin: 0 auto;
    text-align: center;
}
